
<p>This is Kaishen Wang (Chinese: <span lang="zh">王凯申</span>/ <span lang="zh">法号桑菜</span>). I come from Nanjing, China. 
<p>I am a very boring person because that's the truth of life. In my boring free time, I do body building, MMA, Karaoke, King of Glory (<span lang="zh">王者荣耀</span>), reading and some random things (but no web developement, which you can tell)... 
    I once wrote the lyrics of a song, which was composed by my friend. You can play it <a href="https://y.music.163.com/m/song?id=1819125039&uct=nP//6LDN+SfHaiFC41DjGA%3D%3D&app_version=8.6.51">here</a>. 
</p>
<p>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=1819125039&auto=0&height=66"></iframe>
</p>

<p>The initial motivation/purpose of this peronsal website is to save duplicate copies of my blogs & thoughts on my Zhihu (Chinese Quora).</p>


<h2 id="working" align="left">Working Experience</h2>
<ul>
  <li align="left">Low Latency Quantitative Developer, <a href="https://www.citadelsecurities.com/">Citadel Securities</a></li>
  <li align="left">Software Developer Intern, Microsoft</li>
  <li align="left">Software Developer Intern, Google</li>
</ul> 

<h2 id="education" align="left">Education</h2>
<ul>
  <li align="left">M.S. Computer Science, University of Illinois at Urbana-Champaign, IL, 2019</li>
  <li align="left">B.S. Computer Engineering, University of Illinois at Urbana-Champaign, IL, 2017</li>
</ul>    

 
<h2 id="education-related" align="left">Achievements In School</h2>
<ul>
  <li align="left">Bronze Tablet (top 3% GPA) during undergraduate study</li>
  <li align="left">Contributor to <a href="https://github.com/zmap/zdns"> zdns</a> and <a href="https://github.com/zmap/zcrypto"> zcrypto</a></li>
  <li align="left"><a href="https://github.com/kaishenwang/Concepts/blob/master/MasterThesis.pdf">Master Thesis</a></li>
</ul> 

<h2 id="account" align="left">Social Media Accounts</h2>
<ul>
  <li align="left"><a href="https://www.instagram.com/kaishenwang/">Instagram</a></li>
  <li align="left"><a href="https://www.linkedin.com/in/kaishen-wang-80b1a879/">LinkedIn</a></li>
  <li align="left"><a href="https://www.zhihu.com/people/wang-kaishen">Zhihu</a></li>
</ul> 

<h2 id="Articles" align="left">Articles & Thoughts</h2>
<ul>
  <li align="left"><a href="src/thoughts.html">Random Thoughts</a></li>
  <li align="left"><a href="https://www.zhihu.com/column/c_93368131">Tech Posts</a></li>
  <li align="left"><a href="https://www.zhihu.com/column/c_1085870165819789312">Random Posts</a></li>
</ul> 


