<!doctype html>
<html class="min-height-full">

<head>
  <meta charset="utf-8">
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ meta_description }}" />
  <meta property="og:title" content="{{ user.name }}" />
  <meta property="og:image" content="{{ user.avatar_url }}" />
  <meta property="og:description" content="{{ meta_description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{{ " /assets/styles.css" | relative_url }}" rel="stylesheet" type="text/css">
</head>

<body class="bg-white min-height-full" {% if site.style=='dark' %}style="background-color: #2f363d !important" {% endif
  %}>

  <h2 {% if site.style=='dark' %}class="text-white" {% endif %}>Random Thoughts</h2>

  <div class="d-sm-flex flex-wrap gutter-condensed mb-4">

    <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
      <span lang="zh">
        2021-11-11<br>
        一个人自从可以思考开始，“为什么活着”就是一个逃不开的话题。<br>
        我慢慢意识到，关于这个问题，我能想到的，想不到的，甚至觉得有些扯淡的（此处提名尼采的永恒回归），都被前人思考过了。这个问题不像一个小众的学术问题，可能可以留给现在的某个幸运儿来第一个发现答案。<br>
        人类历史这么多年，那么多伟大的智慧无一例外思考过。然而没有一种答案，能完美解释。如果抛开复杂的哲学理论，你当然可以说为了亲人，为了责任，为了个什么爱好，或者为万世开太平的崇高理想。但是当你转头又去想宇宙之浩瀚，生命之短暂，欲望满足了会空虚，得不到又会痛苦。于是任何一个答案都会变得虚无。<br>
        分享我很喜欢的两段话。都是教我怎么自欺欺人的。<br>
        第一段是史铁生，《我与地坛》。<br>
        一个人，出生了，这就不再是一个可以辩论的问题，而只是上帝交给他的一个事实；上帝在交给我们这件事实的时候，已经顺便保证了它的结果，所以死是一件不必急于求成的事，死是一个必然会降临的节日。<br>
        另一段是臧克家的高考作文。他凭借此句话打动考官闻一多，数学0分仍被录取。<br>
        人生永远追逐着幻光，但谁把幻光看作幻光，谁便沉入无边的苦海。<br>
      </span>
    </p>

    <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
      <span lang="zh">
        2021-11-09<br>
        我最不喜欢被人评价“三观正”，甚至于听到某些作品有这样的评价都会觉得扫兴。<br>
        三观本身没有问题，但是“正”，代表“正确”，“端正”。就拿人生观举例。一个人的人生追求，若是全人类的福祉或者整个文明的进步，那么他是高尚的。如果追求是（在不损害他人利益的前提下）寻求幸福感的积分的最大化（活得久+过得开心），在我看来也无可厚非，不至于错误。<br>
        这种暗示的两极化的评价标准并不合理，尤其是考虑到我们所处社会环境的局限性。<br>
        我们所处的社会环境，放在人类文明的空间与时间里考虑，只能算是沧海一粟。在一些历史学者的作品中，这种局限性更是被清晰指出。（例如钱穆的《中国历代政治得失》的前言，黄仁宇的《我的大历史观》。）<br>
        举些简单的例子。回到中国封建时期，当代男性能做到“君要臣死臣不得不死”么？当代女性若嫁入“豪门”能心甘情愿与别的妻妾共侍一夫么？甚至穿越去柏拉图的《会饮篇》的时代，会认为只有中老年男子和未成年男子之间的同性之爱才是值得被歌颂的爱情么？
        更不用考虑比如军国主义统治下，欧洲中世纪高压神权统治下，或是奴隶社会中（也没有几百年前）。你也许觉得这些想法荒谬落后，但是在那些时空中的人们，却并不会认为自己的三观是“落后”的。<br>
        罗翔说，人都是有偏见的，伟大的人在于意识到自己的偏见，一生与偏见作斗争。我的很多想法其实与现阶段的主流价值观是不相符，甚至可以说是离经叛道的。对于这些妄语若是有幸碰到赞同的，我自然是欢喜。可对方若是称为“三观正”，我不免又觉得有些遗憾。<br>
        当然我理解一个词若被广泛使用，很多场景下已经脱离了其本身的字面含义。这里是我太过较真，读者大可不必对号入座。<br>
      </span>
    </p>

    <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
      <span lang="zh">
        2021-10-30<br>
        我是很喜欢学习的，纯粹地满足好奇心。<br>
        没有什么特定的范围，只要可以帮助我完善对这个世界的认知，我都欣喜。其中也有偏好。相比计算机和金融这种本职工作相关的知识，我更喜欢了解物理和佛学。我们每个人的见识和情绪，都局限在我们所处的这段时空中。
        就像罗翔说我们要承认自己的偏见。物理和佛学在不同角度让我得以寻求一丝看到这片时空之外的可能。学习它们我能感觉到自己的渺小，在意识到渺小的同时，又感受到了超脱与升华。<br>
        然后我又是不喜欢学习的。归根究底还是之前提过的总记不住。在学生时代，学到的知识是要反复复习巩固的。现在自然不可能给自己找些关于量子物理或者金刚经的题目来做。虽然我也尽量在可能的情况下通过写作或是其他方式，来总结我的理解。
        但总体来说，还是遗忘的居多。说是真理无穷，进一寸有一寸的欢喜，但是如果进一寸退十分之九寸呢。就像小时候做的青蛙爬井的题目一样，每日白天往上爬，晚上往下掉。当我这只青蛙，面对永远爬不到顶的井，有时候爬的距离和下滑的距离差不多，哪里还总能有昂扬的斗志奋勇精进呢。“总”字太抬举了我自己，只能说那样是很偶尔的事。<br>
        其实闲暇时学到的专业知识如果在工作中不能频繁使用，也很难消化吸收。哎。就这些想法倒也不太曾听别人抱怨过，兴许只有我的脑力不堪，才会深受其苦吧。<br>
      </span>
    </p>

    <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
      <span lang="zh">
        2021-09-30<br>
        今天无意间听到了茄子蛋改编的《恰似你的温柔》。<br>

        太喜欢了。怎么说呢？<br>

        最近其实不太想听歌，哪怕纯音乐都不是很喜欢。有时候坐车上，宁愿安静地发呆，什么都不放。听以前迷恋的旋律都觉得有些腻味，听以前感动的歌词也觉得有些别扭。<br>

        就像在某一刻，你会觉得不再想要恋爱了。哪怕会渴望女人，但不会渴望爱情。哪怕你知道这是一时的情绪，你知道你总会陷入另一段失去自我的深情中，但此刻的你就是拒绝一切爱情的。<br>

        然而这一刻，你遇见了一个姑娘。她让你明白，你不仅渴望女人，也渴望爱情。你知道一段失去自我的深情已经轰轰烈烈地开始了。<br>

        这首歌就好比这样一个姑娘。之前我也很喜欢蔡琴的版本，但只是无数爱听的歌曲中平平无奇的一首。就像某位在记忆里对你温柔笑过的姑娘一样。虽然也曾荡漾过片刻的心情，但如果让你提起你的过往，你绝对想不起她。<br>

        但是隔了许久你们又邂逅了，她变了个样子，虽然还是原来的她，不过更美丽了。让你觉得曾经的她也是无比美，但是和现在的她比起来，又还是不堪一击。你会觉得曾经的短暂相遇，就是为此刻的再邂逅而准备的。你觉得宿命真的是有的，而且就是现在这一刻。<br>

        我真的太喜欢这首歌了。<br>
      </span>
    </p>


    <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
      <span lang="zh">
        2021-09-11<br>
        我决定从今天起记录一些生活中发生的幸运的事情，以此来常常提醒自己，虽然有诸多不如意，但还是有很多值得感恩的事。<br>
        最近的两件。一件是从阿拉斯加回芝加哥的前一天，同行的朋友想看一下我的座位。然后我发现我错买成了当晚的机票。但是因为那班飞机正好延误，
        所以允许我免费换到第二天我本来想买的那班。更神奇的是，我本来用来选座位的100多刀因此可以退给我。而我同行的朋友，则免费帮我换到了更好的座位。如果不是正好延误，我可能当时都发现不了买错了。而这来回一折腾，因为买错了机票，反而省了一笔钱。<br>
        另一件是今天在芝加哥停车。spothero上找了一个附近的最便宜的停车位，付了钱，但是死活找不到停车场。因为芝加哥中心上下几层，然后下面那层没有导航。因为绕了好几圈也没找到，又急着赴约，于是赶紧随便找了个更贵的停车场停了。spothero上的17美元就算浪费了。
        屋漏偏逢连夜雨，临到取车时才发现不小心把停车票丢了。赶紧回饭店volare找，自己找了一大圈都没找到，然后饭店的大堂经理还帮我仔细翻了他们的垃圾桶，这点让我还是挺感动的。虽然最后还是没找到。停车场的告示上面写的是如果是丢失停车票，需付100刀。
        我已经准备直接付100刀走人了，结果付钱的机器不允许我在无票的情况下直接付100刀。只好拨通了客服。客服是个黑人大妈，确定了情况后问我能不能再找找。我表示实在找不到，问她能不能查监控确认我进入停车场的时间。最后黑人大妈查了一下监控，让我只付了相应的4小时的钱，which
        is 41刀。虽然也够贵的，但是饭店大堂经理和停车场的客服都让我很感动。<br>
        我其实是一个很喜欢苛责的人。对自己和对别人都是这样，任何人（包括自己）有一点事情没做好我就会很生气。但是后来发现其实很多时候自己对别人的苛责其实没什么道理，而别人对我却又很宽容。刚才的例子就是一个别人对我宽容的。<br>
        说到我对别人苛责没什么道理，又想到最近有两件事。有一次我在楼下的健身房健身完，看到送我外卖的车子已经离我很近了，遂直接去一楼等他。结果在一楼等了很久，看车子在附近绕来绕去都没来。我这时候已经很生气了，但是也没有发作。过了一会司机打电话过来，说附近封路，也没有地方停车，他停在很远的地方，
        马上跑步过来。过了几分钟，一个与我父亲年纪相仿的中年大叔气喘吁吁地把我外卖给我。那一刻我体会到了他的辛苦与心酸，联想我平日里给小费十分小气，感到很自责。<br>
        另一件小事是我在旧金山退还租的车前要去加满油。加油站排我前面是一个黑人女性，她一边打电话一边加油，等了很久。我心想她一定早已加好，不过是为了打电话才一直赖在那里。
        而我急着去还车，心情不由变得着急，在心里问候了她好几句。等我加上油，我才发现，sb的不是那个女人，而是这个油枪，出油极慢，要快一分钟才能加满一加仑，比特斯拉充电都快不了多少。
        因此又为刚刚在心里痛骂前面那个女人感到自责。虽然因为没有机会发作或是自我教养等原因，让我在大多数场合都可以克制住表面的怒火，但是我知道只有真正从心里就试图去理解别人，宽容别人（和自己），才是应该有的修行。<br>
      </span>
    </p>


    <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
      <span lang="zh">
        2021-09-09<br>
        很难静下心来阅读。有不少书想了很久，但却都没能坚持下来。《中国历代政治得失》尝试了几次，太过枯燥。《我与地坛》散文集读了几篇，又嫌太过苦涩。《白鹿原》背景离自己的生活太远。只能听听道长的《一千零一夜》，浅尝辄止罢了。<br>

        也有很重要的原因是记忆力不行 —以前读过的书现在也记不得什么了。人物也记不得，道理也记不得。既然知道以后会遗忘，现在这种带着些功利心的阅读便更没了动力。<br>

        因为类似的心态，有时候电影和纪录片也不想看，不是立马会用到的新技术也不想学，甚至哪怕在某一刻有了些好奇心，转念想想就又失去了兴趣。情愿去做一些运动，想着肌肉记忆总比脑子的记忆要更靠谱些。是有些魔怔了。<br>
      </span>
    </p>

  </div>
</body>

</html>